*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    min-height: 100vh;
    background: #0c192c;
}

.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    color: antiquewhite;
}

h3{
    padding-bottom: 2rem;
    color: #203757;
}

.boton{
    z-index: 1000;
}

.corazones{
    font-size: 100px;
    font-weight: bold;
    position: fixed;
    top: -1vh;
    left: 0;
    transform: translateY(0%);
    animation: caer 1s ease-in infinite;
}

@keyframes caer{
    to{
        transform: translateY(250vh);
    }
}

h1{  
    margin-top: 2rem;
    padding: 0 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

#centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 4rem;
}

.bonita, .hermosa, .wowtxt{
    color: transparent;
    -webkit-text-stroke: 3px darkmagenta;
    position: relative;
    font-size: 3rem;
}

.bonita::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: darkmagenta;
    border-right: 8px solid darkmagenta;
    animation: deslizar infinite 1.5s;
}

.hermosa::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: darkmagenta;
    border-right: 8px solid darkmagenta;
    animation: deslizar infinite 1.5s;
    animation-direction: reverse;
}

.wowtxt::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: darkmagenta;
    border-right: 8px solid darkmagenta;
    animation: deslizar infinite 1.5s;
}

@keyframes deslizar {
    to {
        width: 100%;
        filter: drop-shadow(0 0 25px darkmagenta);
    }
}

.bonita:hover::before, .hermosa:hover::before, .wowtxt:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px darkmagenta);
}

.marca-agua {
    opacity: 0.5;
    color: rgb(238, 203, 203);
    position: relative;
    top: 95%;
    left: 47%;
}

a{
    text-decoration: none;
    color: rgb(238, 203, 203);
}
